<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <!--- jqery cdn-->
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
</head>
<body>
<!-- action 속성: form에 작성한 데이터를 어디로 보낼지 지정-->
<form action="/member/save" method="post">
    <!-- name속성: 서버로 전송할 때 변수이름의 역할-->
    아이디: <input type="text" name="memberId" id="memberId"> <br>
    비밀번호: <input type="password" name="memberPassword"> <br>
    이메일: <input type="text" name="memberEmail"> <br>
    주소: <input type="text" name="memberAddress"> <br>
    회사명: <input type="text" name="companyName"> <br>
    대표자명: <input type="text" name="companyPresident"> <br>
    <input type="submit" value = "회원가입">
</form>
</body>
</html>